#popup1 {
    position: absolute;
    top: 10%;
    left: 50;
    width: 30%;
    height: 70%;
    background-color: gray;
    /*background-color: rgba(0,0,0,0);*/
}
  
#popup-content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 90%;
    height: 90%;
    padding: 5%;
    text-align: center;
    <img src="image-button.png" alt="Image Button">
}

#hide-popup1 {
    padding: 10px;
    background-color: transparent;
    border: none;
}

#popup2 {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 30%;
    height: 70%;
    background-color: gray;
    /*background-color: rgba(0,0,0,0);*/
}
  
#popup-content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 90%;
    height: 90%;
    padding: 5%;
    text-align: center;
}

#hide-popup2 {
    padding: 10px;
    background-color: transparent;
    border: none;
}

body {
    background-color: rgb(150, 106, 106);
}
  
button { /*버튼 배경 투명으로 바꿔주는 구문*/
    border: none;
    background-color: transparent;
}

button img { /*버튼 이미지에 마우스 커서 대면 손으로 바꿔주는 구문*/
    cursor: pointer;
}
